{% extends './layout.html' %}
{% block content %}
<h1>Product</h1>
<p>
    <button type='add' class='btn btn-primary' onclick="location.href='/products/add'">Add a product</button>
  </p>
  <ul class='list-group'>
    {% for product in products %}
      <li class='list-group-item' style='padding:20px 15px'>
           {{ product.name }}
        <button type='edit' style='margin-right:10px' class='btn btn-primary pull-right' onclick="location.href='/products/{{product.id}}/edit'">Edit</button>
        <form style='display:inline' method='POST' action='/products/{{product.id}}?_method=DELETE'>
        <button type='submit' style='margin-right: 10px' class='btn btn-danger pull-right'>Delete</button>
        </form>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}






