{% extends './layout.html' %}
{% block content %}
<h1>Product</h1>
  <form method='POST' action='/products'>
    <div class='form-group'>
      <input class='form-control' name='name' placeholder='name....' />
    </div>
    <button type='submit' class='btn btn-primary'>Save</button>
  </form>
  <ul class='list-group'>
    {% for product in products %}
      <li class='list-group-item'>
        <button type='edit' class='btn btn-primary' onclick="location.href='/products/{{product.id}}/edit'">Edit</button>
          {{ product.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

<!-- <button onclick="location.href='http://www.example.com'" type="button">
     www.example.com</button> -->
